html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
	background: #21252b;

	color: #d3ddef;
}

.topo {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.05);
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.ag-canvas {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	width: 100%;
	height: auto;
	padding: 2rem 1rem;
	opacity: 1;
	transition: opacity 0.5s;

	margin-top: -90px;
	z-index: -1;
}
.ag-canvas_svg {
	display: block;
	width: 100%;
	max-width: 1000px;
	height: auto;
	max-height: 80vh;
	margin-left: 1rem;
}
.ag-canvas_svg path {
	fill: #383d46;
	fill-opacity: 1;
	stroke: #21252b;
	stroke-opacity: 1;
	stroke-width: 0.5;
	transition: 0.5s;
}

@media screen and (max-width: 767px) {
	.ag-canvas {
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		height: auto;
		padding: 4rem 1rem 1rem;
	}
	.ag-canvas_svg {
		max-height: calc(100% - 6rem);
		margin-left: 0;
	}
}

input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

button.add {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: teal;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

button.add:hover {
	background-color: rgb(1, 92, 92);
}

button.limpar {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background-color: #ff4d4d;
	border: 0;
	padding: 15px;
	margin-top: 5px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

button.limpar:hover {
	background-color: #e60000;
}

.total-count {
	font-family: 'Roboto', sans-serif;
	color: white;
	position: absolute;
	padding: 15px;
	left: 0;
	bottom: 0;
}

@media screen and (max-width: 767px) {
	.ag-canvas {
		margin-top: 0;
		z-index: 1;
		flex-flow: row wrap;
		height: auto;
		padding: 4rem 1rem 1rem;
	}

	.ag-canvas_svg {
		max-height: calc(100% - 6rem);
		margin-left: 0;
	}

	.topo {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		z-index: 10;
	}

	form {
		width: 100%;
		max-width: 100%;
	}

	input,
	button {
		width: 100%;
		font-size: 14px;
		padding: 10px;
	}

	button {
		margin-bottom: 10px;
	}
}
